/*-----------------------Navbar------------------------*/

.navbar {
    background-color: #003333;
}

/*--Navbar title--*/
.navbar-brand {
    color: rgba(153,204,0,1);
}
.navbar-brand:hover {
    color: rgba(153,204,0,1);
    
}

/*--Navbar non current pages--*/
.nav-link {
    color: rgba(153,204,0,0.6) ;
}

.nav-link:hover {
    color: rgba(153,204,0,1);
}

/*--Navbar page current--*/
.active {
    color: rgba(153,204,0,1) !important ;
}


/*-----------------------content------------------------*/
.main {
    height: 300px;
}


/*-----------------------Footer------------------------*/

footer {
    height: 150px;
    background-color: #003333;
    
}


.socials {
    font-size: 50px;
    text-align: center;
    
    
}
.socials li {
    display: inline;
    padding: 50px;
    
}

.icon {
    color: rgba(153,204,0,0.6);
    text-decoration: none;
}

.icon:hover {
    color: rgba(153,204,0,1);
}