/*-----------------------Imports------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/*-----------------------Navbar------------------------*/

.navbar {
    background-color: #a4ac18;
}

/*--Navbar title--*/
.navbar-brand {
    color: #000000;
    font-family: "Lilita One";
    font-size: 150%;
    letter-spacing: 0.04rem;
}
.navbar-brand:hover {
    color: #eee6cd;
    
}

/*--Navbar non current pages--*/
.nav-link {
    color: #000000 ;
    font-family: "Lilita One";
    font-size: 120%;
    letter-spacing: 0.04rem;
}

.nav-link:hover {
    color: #eee6cd;
}

/*--Navbar page current--*/
.active {
    color: #eee6cd !important ;
}


/*-----------------------content general------------------------*/

body {
    background-color: #626a10;
}

/*--First content--*/
.main-content   {
    margin-top: 100px;
    max-height: 620px;
    font-family: "Lilita One";
    letter-spacing: 0.04rem;
    margin-bottom: 150px;
}
 
.main-content h2, h3, h4, h5 {
    color: #000000;
}

.main-content p {
    color: #000000  ;
}

.content-box {
    padding: 100px;
    margin: 0;
    border-radius: 15px;
    border-color: #626a10;
    background-color: #a4ac18;
}
/*-----------------------About Me------------------------*/

.About-me-text{
    font-size: 150%;
}

.about-me-links {
    margin-bottom: 20px;
    padding: 0px;
    background-color: #000000  ;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.about-me-links:hover {
    background-color: #eee6cd;
}

.about-me-link-text{
    color: #a4ac18;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


.about-me-button {
    font-size: 150%;
    display: inline;
}



/*-----------------------Work Experience------------------------*/
.experience-title {
    padding-bottom: 20px;
}

.job-date {
    color: #000000 !important;
}

.role {
    color: #eee6cd !important;
}

.timeline-item {
    padding: 30px 20px 20px;
    position: relative;
    border-left: 3px solid;
    border-color: #000000  ;
}

.timeline-item h4, ul {
    color: #000000  ;
}

.timeline-item::before{
    width: 15px;
    height: 15px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -7.5px;
    border-radius: 15px;
    content: '';
    background: #eee6cd;

}

.main-content-we {
    margin-bottom: 950px;
}
/*-----------------------Contact Form------------------------*/

input, textarea, ::placeholder {
    background-color: #626a10;
    border: none;
    color: #000000  ;
}

textarea {
    max-width: 80%;
}

label {
    margin:10px;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: 20px;
}

.left-contact {
    margin-top: 12px;
}

.contact-me-button {
    background-color: #000000  ;
    color: #626a10;
    width: 45%;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    float: right;
    margin-top: 10px;
    
}

.contact-me-button:hover {
    background-color: #eee6cd;
}


/*-----------------------portfolio------------------------*/

.project-box {
    border-radius: 15px;
    border-color: #626a10;
    background-color: #a4ac18;
    margin-top: 20px;
    padding: 25px; 
}

.portfolio-image {
    max-width: auto;
    max-height: 200px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
}



.key-skill {
    background-color: #eee6cd;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    max-width: fit-content;
}
/*-----------------------Footer------------------------*/
 

.footer {
    height: 72px;
    background-color: #a4ac18;
    margin-top: 20px ;
    border-top: #626a10;
    border-top-width: 20px;
}

.footer-border {
  position: absolute; 
  top: 10px;
  width: 100%;
  height: 10px; 
  background-color: #626a10; 
  z-index: 1; 
}

.socials {
    font-size: 40px;
    text-align: center;
    padding: 0;
    
}
.socials li {
    display: inline;
    padding: 0px 50px;
    
}

.icon {
    color: #000000  ;
    text-decoration: none;
    transition-duration: 0.5s;
    
}

.icon:hover {
    color: #eee6cd;
}

/*-----------------------Effects------------------------------*/

.content-box {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    } 

    33% {
        opacity: 60%;
    }
    100% {
        opacity: 1;
    }
    
}


/*-----------------------Media queries------------------------*/


@media screen and (max-width: 992px){
    .socials li {
        margin-top: 500px;
        padding: 0px 3%;
    }
   
    .footer {
        height: 56px;
        margin-inline-start: auto;
    }
    
    .main-content {
          margin-top: 80px;
    }
}

@media screen and (min-width: 992px){
    .employer {
        margin-left: 6em;
    }

    .role {
        margin-left: 8em;
    }
    .job-date
    {
        margin-left: 25px;
        margin-bottom: 40px;
    }
    .timeline-item ul {
        margin-left: 11em;
    }

     
}


/*-----------------------colours------------------------*/

.highlight {
    color: #eee6cd;
}

.lowlight { 
    color:#000000  ;
}

/*-----------------------spacers------------------------*/


